

.App {
    margin-top: 10px;
     display: flex;
     flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align:center;
      overflow:hidden;
   }
   
   
    h4 {
   font-size:70px;
   margin-bottom: 35px; 
   margin-top: 10px;
    font:bold  'Signika', sans-serif;
    user-select:none;
   }
 
   
   
   button {
     font-family: bold  'Signika', sans-serif;
   }
   
   .fill {
     font-size: 20px;
     font-weight: 300px;
     letter-spacing: 1px;
     padding: 13px 50px 13px;
     outline: 0;
     border: 2px solid black;
     cursor: pointer;
     position: relative;
     background-color: rgba(0, 0, 0, 0);
   }
   
  
   
    .res {
    margin-top: 1px;
    height: 350px;
    width: 900px;
   }
   
   
   @media (prefers-reduced-motion: no-preference) {
     .App-logo {
       animation: App-logo-spin infinite 20s linear;
     }
   }
   
   .App-header {
     background-color: #282c34;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     font-size: calc(10px + 2vmin);
     color: white;
   }
   
   .App-link {
     color: #61dafb;
   }
   
   @keyframes App-logo-spin {
     from {
       transform: rotate(0deg);
     }
     to {
       transform: rotate(360deg);
     }
   }